<div class="container">
    <header class="jumbotron">
      <h2>Congratulations!!!</h2>
    </header>
    <p>Here are the winners...<br>
      <br>
      <br>
  Below listed members are winners of the competition conducted by Readers club...  </p>
  </div>

  <h3 style="background-color:DodgerBlue; text-align: center">1st Price winner</h3>
  <table class = "table table-bordered" >
    <thead>
        <tr>
       
            <th>User Name</th>  
            <th>Book Name</th>
            <th>Author Name</th>
            <th>Book Review</th>
           
        </tr>
    </thead>
<tbody>
 
    <tr>
      <td>New User</td>
      <td>Ponni</td>
      <td>Shan Karuppasamy</td>
      <td>Thrilling and good narration</td>
    </tr>
</tbody>
  </table>
<br>
<h3 style="background-color:orange; text-align: center;" >2nd Price winner</h3>
<table class = "table table-bordered">
<thead>
  <tr>
 
      <th>User Name</th>  
      <th>Book Name</th>
      <th>Author Name</th>
      <th>Book Review</th>
     
  </tr>
</thead>
<tbody>
    
    <tr>
      <td>Second User</td>
      <td>Alai</td>
      <td>Kalki</td>
      <td>Excellent</td>
    </tr>
  </tbody>
  <br>
</table>

  <h3 style="background-color:mediumseagreen;text-align: center">3rd Price winner</h3>
<table class = "table table-bordered">
  <thead>
      <tr>
     
          <th>User Name</th>  
          <th>Book Name</th>
          <th>Author Name</th>
          <th>Book Review</th>
         
      </tr>
  </thead>
<tbody>

    <tr>
      <td>Third User</td>
      <td>Kanni</td>
      <td>Francis Krupa</td>
      <td>Beautifil poet</td>
    </tr>
  </tbody>
</table>
