<div class="container">
  <header class="jumbotron">
    <h2>Welcome Readers Club Member !!!</h2>
  </header>
 
  <h2>Mission and Vission</h2>
<p>The mission of Read to a member is to foster a love of reading, improve literacy skills, and support socio-emotional well-being in students from under-resourced communities. 

  Read to a Child’s vision is that every child has the opportunity to thrive in school and beyond through inspirational mentoring and read aloud experiences. Writing reviews makes a vission and better understanding of the narration and others will came to know about the book as a overview. </p>

  <br>
  <br>

  <p>Dear Member...<br>
    <br>
    <br>
    Please add your book review by adding "Add book" button with Bookname and Authorname in your profile page...</p>
    <button (click)="goPage()" type="button" class="btn btn-primary">Add your Review</button>
</div>
