<div class="container">
  <header class="jumbotron">
    <h2>Moderator Blog!!!</h2>
  </header>
  <p>As a moderator, our duties involve providing discussion topics, encouraging participants to share, removing unrelated or inappropriate content, answering questions, defining group boundaries and rules, and updating the platform. We also have the authority to decide what information is approved or removed.</p>

  <h5>In competition</h5>
  <p>Additionaly here we are doing main role in selecting good reviews and suggest admin to provide the result</p>
</div>
