<div class="container">
  <header class="jumbotron">
    <h2>Home Page!!!</h2>
  </header>
  
<h2>Overview</h2>
<p>Read to a person is a national literacy and mentoring non-profit that fosters a love of reading, improves literacy skills, and supports socio-emotional well-being in students from under-resourced communities. Research shows that reading aloud to human is the single most important activity for eventual success in reading, a key factor for success in school, work, and life.  When an adult reads aloud to a child, both parties have a joyful, rewarding experience that instills a love of reading, improves literacy skills, and enhances a child’s self-confidence. Read to a Child partners with thousands of community and corporate volunteers from more than 150 socially-minded businesses and organizations who read one-on-one to  elementary students at under-resourced schools in the greater metropolitan areas of Boston, Detroit, Hartford, Los Angeles and Miami.</p>

<h2>Mission and Vission</h2>
<p>The mission of Read to a member is to foster a love of reading, improve literacy skills, and support socio-emotional well-being in students from under-resourced communities. 

  Read to a Child’s vision is that every child has the opportunity to thrive in school and beyond through inspirational mentoring and read aloud experiences. Writing reviews makes a vission and better understanding of the narration and others will came to know about the book as a overview. </p>
</div>